/* -------------------------------------------------------
Palette - https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429
#2B2D42
#8D99AE
#EDF2F4
#EF233C
#D90429
------------------------------------------------------- */

/*--------------------------------------------------------------
General
--------------------------------------------------------------*/
* { font-family: Verdana; padding: 0; margin: 0; max-width: 100%; position: relative; display: block; } /* overflow-x: hidden; */
body { margin: 0 auto;  background-color: #EDF2F4; font-family: sans-serif; }
h1, h2, h3, h4, p { color: #1e1e1e; }
/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
.pre-header { width: 100%; height: 15px; background: #EDF2F4; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19); }
.logo-name { position: absolute;  bottom: 0; width: 20%; padding: 20px; color: #2B2D42;  font-weight: 50; font-size: 20px; } /* text-shadow: 0.8px 0.8px 1px #000; */ 
.nav-icon-bar { position: absolute;  bottom: 0; right: 16%; padding: 10px; }
.logo-img { border: 1px solid red; width: 50px; position: absolute;  bottom: 0; right: 2%; }

.header-fixed { position: fixed; top: 0; left: 0;  width: 100%; height: auto; z-index: 9999; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; }
.header-fixed:hover { background: #fff; height: auto; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19); }
.header-fixed h1 a { display: block; text-align: center; }
.header-relative { height: 80px; }
.header-fixed.resized { top: -75px; }
.header-fixed.resized img { padding-top: 60px; transform: scale(0.8); -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); }
.header-fixed-scroll { background: #fff; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19); }

.nav-links { margin: 0 auto; padding-top: 6px; padding-bottom: 16px; text-align: center; }
.nav-links li { display: inline-block; padding: 5px 5px; text-transform: uppercase; margin: 0 10px; overflow: unset; }
.nav-links li a { text-decoration: none; color: #2B2D42; font-weight: 550; font-size: 16px; }
.nav-links li a:hover { margin-bottom: 5px;  border-bottom: 3px solid #2B2D42;  padding-bottom: 2px; color: #D90429; }
.nav-links li a.nav-active { margin-bottom: 5px;  border-bottom: 3px solid #2B2D42;  padding-bottom: 2px; color: #EF233C; }

.sub-nav-center-1 { border-bottom: 1px solid #d8d8d8; display: none; width: 100%; height: 400px; background-color: #F6F6F6; overflow-y: visible; }
.sub-nav-center-on-1 { display: flex; justify-content: center; }
.sub-nav-center-2 { border-bottom: 1px solid #d8d8d8; display: none; width: 100%; height: 400px; background-color: #F6F6F6; overflow-y: visible; }
.sub-nav-center-on-2 { display: block; }
.sub-nav-links { border-left: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; width: 10%; margin: 10px; }
.sub-nav-links h4 { text-align: center; padding: 15px; text-transform: uppercase; }
.sub-nav-links li { display: inline-block; padding: 5px 0px;  margin: 0 10px; overflow: unset; }
.sub-nav-links li a { text-decoration: none; color: #2B2D42; font-weight: 250; font-size: 16px; }
.sub-nav-links li a:hover { margin-bottom: 5px;  border-bottom: 3px solid #2B2D42;  padding-bottom: 2px; color: #D90429; }
.sub-nav-links li a.nav-active { margin-bottom: 5px;  border-bottom: 3px solid #2B2D42;  padding-bottom: 2px; color: #EF233C; }
.sub-nav-links-li-a-nav-active { margin-bottom: 5px;  border-bottom: 3px solid #2B2D42;  padding-bottom: 2px; }

.sub-nav-x { width: 8%; position: absolute;  bottom: 0; right: 2%; }
.sub-nav-x span { display: block; background-color: #2B2D42; height: 2px; width: 23px; margin-bottom: 5px;  }
.nav-icon-bar { display: none; }
.nav-icon-bar span { display: block; background-color: #2B2D42; height: 2px; width: 23px; margin-bottom: 5px; }

main { padding: 20px; display: flex; flex-direction: column; }
.container { display: flex; flex-direction: row; }
.card { margin-bottom: 20px; padding: 15px; border: 1px solid #d8d8d8; height: 220px; width: 50%; }
.card h2 { text-align: center; }
.card h2 span { color: #EF233C; }
.btn { display: block;  margin: 15px auto; padding: 15px 25px 15px 25px; border: 2px solid #2B2D42; border-radius: 100px; box-sizing: border-box; text-decoration:none; text-transform: uppercase; font-weight:600; color:#2B2D42; text-align:center; font-size: 18px; }
.btn:hover{  color:#000000; background-color: #EDF2F4; }
#box-colored { width: 60%; margin: 15px auto; border-radius: 2px; border-color: #000; border-style: solid; background-color: #8D99AE;  }
#box-colored-2 { width: 60%; margin: 15px auto; border-radius: 2px; border-color: #000; border-style: solid; background-color: #8D99AE;  }
#box-colored h3 { color: #edf2f4; text-align: center; width: 50%; display: block; margin: 15px auto; }
#box-colored-2 h3 { color: #edf2f4; text-align: center; width: 50%; display: block; margin: 15px auto; }
.footer { width: 100%; min-height: 600px; background: #D90429; }
.footer-section { border-bottom: 1px solid #d8d8d8; padding: 50px; display: flex; justify-content: space-between; }
.footer-newsletter {  width: 25%; padding: 25px; display: flex; flex-direction: column; }
.footer-newsletter-email { width: 100%; display: flex; flex-direction: row; padding: 25px 0; }
.input-email { width: 160px; height: 50px; background-color: #fff; opacity: 1; }
.footer-social {  padding: 25px; width: 25%; }
.footer-contact-us-wrapper { max-width: 25%; margin: 0 16px; background-color: #EDF2F4; border-radius: 4px; padding: 25px; }
/*--------------------------------------------------------------
Tablet
--------------------------------------------------------------*/
@media (max-width: 998px) {
.container { flex-direction: column; }
.card { width: 100%; }
}
/*--------------------------------------------------------------
Smartphone
--------------------------------------------------------------*/
@media (max-width: 767px) {

    /* Header & Menu */
    .pre-header { display: none; }
    .header-fixed { }
    .logo-name { display: none; }
    .logo-img { width: 24%; position: relative;  bottom: 0px; left: 2%; float: left; }
    .nav-links { width: 100%; height: 0; overflow: hidden; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; }
    .nav-links li { display: block; }
    .nav-links li a { display: block; padding: 10px 15px; border-bottom: 1px solid #666; }

    .nav-icon-bar { position: relative;  bottom: 0px; right: 2%; float: right; display: block; }

    .show-nav-mobile { height: 300px; overflow: auto; }
    .nav-links { width: auto; padding-top: 6px; padding-bottom: 16px; text-align: center; }

    /* Content Layout */
    .content,
    .sidebar { width: 100%; }
}


















/* display: block;  Gli elementi diventano dei blocchi cliccabili a cui possiamo impostare una dimensione, quindi non sarà solo il testo cliccabile */
